.headx {
  text-align: center;
  padding-top: 85px;
  z-index: 5;
  position: relative;
}

.ptext {
  margin: 15px 0;
}

.animatedclass {
  background-image: url(https://cdn.shopify.com/s/files/1/0914/1809/9993/files/Original_62001354-White-Pine_1_1.png?v=1732172849);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.mainbx {
  width: 100%;
  height: 2230px;
  position: relative;
}

.squiggle {
  position: absolute;
  top: -160px;
  left: 0;
  width: 100%;
  height: auto;
  /* padding-left: 125px; */
  z-index: 0;
}

.squiggle-left {
  position: absolute;
  top: 48%;
  left: 0;
  width: 50%;
}

.squiggle-right {
  position: absolute;
  top: 52%;
  right: 0;
  width: 50%;
}
/* ------------------------------------------------------------------------------------------------ */

.since-box {
  position: absolute;
  right: 12%;
  width: 135px;
  top: 10%;
}

.bicycle-box {
  position: absolute;
  right: calc(50% - 365px);
  top: 3.7%;
}

.bicycle-box {
  opacity: 0;
  transform: translateX(100%);
  transition: transform 1s ease-out, opacity 1s ease-out;
}

.bicycle-box.animate {
  opacity: 1;
  transform: translateX(0);
}

/* Example layout styling */
.bicycle-box img {
  max-width: 100%;
  display: block;
}

.Gopal-locho-home {
  position: absolute;
  left: calc(50% - 480px);
  top: 6.4%;
}

.Gopal-locho-home img {
  position: relative;
}

.gopal-name {
  position: absolute;
  left: 33%;
  top: 5.5%;
}

.gopal-name {
  display: inline-block;
  opacity: 0;
  animation: hideShow 4s ease-in-out infinite;
  animation-delay: 0.5s;
}

@keyframes hideShow {
  0%,
  100% {
    opacity: 0;
  }

  50% {
    opacity: 1;
  }
}

.brand-box {
  position: absolute;
  top: 17%;
  left: 12%;
  width: 500px;
}

.brand-box h6,
.brand_loyalty-box h6,
.barnd-traditional-box h6,
.brand-loyalty-box h6,
.barnd-locho-box h6 {
  color: #000;
  font-size: 22px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.brand-box p,
.brand_loyalty-box p,
.barnd-traditional-box p,
.brand-loyalty-box p,
.barnd-locho-box p,
.since-box p {
  opacity: 0.6;
}

.brand-man {
  position: absolute;
  right: calc(50% - 220px);
  top: 19%;
}

.brand-man {
  display: inline-block;
  animation: wave 5s ease-in-out infinite;
}

@keyframes wave {
  0% {
    transform: translateX(0);
  }

  50% {
    transform: translateX(20px);
  }

  100% {
    transform: translateX(0);
  }
}

.brand_loyalty-box {
  position: absolute;
  top: 35%;
  right: 10%;
  width: 590px;
  text-align: right;
}

.iconitem-box {
  position: absolute;
  top: 40.5%;
  right: calc(50% - 540px);
}

.truck-box {
  position: absolute;
  top: 46.2%;
  left: 0%;
  opacity: 0;
  /* Initially hidden */
  transform: translateX(-100px);
  /* Start slightly to the left */
  transition: opacity 2s ease-in-out, transform 2s ease-in-out;
  /* Smooth transitions */
}

.truck-box.animate {
  opacity: 1;
  /* Fully visible */
  transform: translateX(100px);
  /* Move to the original position */
}

.cold-coco-box {
  position: absolute;
  top: 61.5%;
  left: 10%;
  width: 15%;
}

.cold-coco-box img {
  opacity: 0;
  transform: scale(0.8);
  transition: opacity 1s ease, transform 1s ease;
}

.cold-coco-box img.show {
  opacity: 1;
  transform: scale(1);
}

.barnd-traditional-box {
  position: absolute;
  top: 64%;
  left: 28%;
  width: 300px;
}

.brand-loyalty-box {
  position: absolute;
  top: 75%;
  left: 6%;
  width: 600px;
}

.chutney-box {
  position: absolute;
  top: 64%;
  right: 15%;
}

.chutney-box img {
  opacity: 0;
  transform: scale(0.6);
  transition: opacity 1.2s ease, transform 1.2s ease;
}

.chutney-box img.show {
  opacity: 1;
  transform: scale(1);
}

.barnd-locho-box {
  position: absolute;
  top: 75%;
  right: 10%;
  text-align: right;
  width: 250px;
}

.Gopal-logo-box {
  position: absolute;
  top: 88%;
  left: 49%;
}

.Gopal-logo-box img {
  opacity: 0;
  transform: scale(0.6);
  transition: opacity 1.5s ease, transform 1.5s ease;
}

.Gopal-logo-box img.show {
  opacity: 1;
  transform: scale(1);
}
/* =========================================================================================================== */

@media screen and (max-width: 1366px) {
  .squiggle {
    top: -115px;
  }

  img {
    width: 100%;
  }

  .bicycle-box {
    position: absolute;
    right: calc(50% - 330px);
    top: 4%;
  }
  .Gopal-locho-home {
    position: absolute;
    left: calc(50% - 480px);
    top: 6.7%;
}gf


}
